@font-face {
    font-family: 'Norse';
    src: url('/fonts/Norse-Bold.woff2') format('woff2'),
        url('/fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    height: 100%;
    min-height: 1vh;
}
body{
    margin: 0px;
    height: 100%;
    min-height: 1vh;
    display: flex;
}

#first-section {
    display: flex;
    justify-content: center;
    position:relative;
    background-color: rgb(104, 192, 162);
    width: 50%;
    background: url(/background-image/halie-west-25xggax4bSA-unsplash.jpg) ;
    background-size: 100% 100%;
}
#second-section{
    background-color: rgb(103, 221, 181);
    width: 70%;
}
header{
    font-family: 'Norse';
    background-color:rgba(0, 0, 0, 0.434);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 150px;
    height: 150px;
    width: 100%;
}
header h1{
    font-size: 12vh;
    margin-bottom: 45px;
}
#first-section footer{
    align-self: flex-end;
}

#first-section footer a{
    color: rgba(255, 255, 255, 0.724);
    list-style-type: none;
}
#first-section footer p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    color: rgba(255, 255, 255, 0.724);
    list-style-type: none;
}

/* Second section */

#second-section{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    flex-direction: column;
    background-color:ghostwhite;
    display: flex;
    justify-content: center;
}
#second-section .text p{
    width: 44ch;
    font-size: 18px;
    font-weight: 550;

}
.text{
    position: relative;
    bottom:80px;
    margin: 45px;
}
.form{
    background-color:rgb(255, 255, 255);
    height: 260px;
    position: relative;
    bottom: 75px;
    padding-left: 45px;

}
.form p{
    font-size: 20px;
    font-weight: 500;
}
.first-row{
    display: flex;
}
.second-row{
    display: flex;
}
.third-row{
    display: flex;
}
form{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    font-size: 10px;
    font-weight: 550;
}
.input{
    display: flex;
    flex-direction: column;
}
.row{
 width: 80%;
gap: 70px;
}
input{
    width: 18vw;
}